{% extends 'base.html.twig' %}

{% block title %}Blog Home{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('customer_list') }}">Customer List</a></li>
    </ul>
{% endblock %}